body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: #f0f0f0;
    color: #333;
}

header {
    background-color: #005a9c;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.header-content p {
    margin: 10px 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
    background-color: #333;
    margin: 0;
    overflow: hidden;
}

nav ul li {
    display: inline;
}

nav ul li a {
    display: inline-block;
    color: white;
    padding: 14px 20px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #ddd;
    color: black;
}

main {
    padding: 20px;
    max-width: 800px;
    margin: auto;
}

section {
    margin-bottom: 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer a {
    color: #00dfd8;
    text-decoration: none;
}
